@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>IDC Hotel Booking</h1>
    <p class="lead">IDC Hotel Booking is an web application built with Asp.net MVC, HTML, CSS, and JavaScript.</p>
    @*<p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Roles based application</h2>
        <p>
            The application provides a single solution for different type of users.
        </p>
        @*<p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Database first approach</h2>
        <p>The backend is built with EntityFramework using database first approach.</p>
        @*<p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Stored procedure</h2>
        <p>Stored procedures are widely used in this application</p>
        @*<p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>*@
    </div>
</div>