
@{
    ViewBag.Title = "Unthorized Access";
}

<h1 class="text-danger">Unauthorized Access</h1>
<h2 class="text-danger">
    You have attempted to access a page that you are not authorized to view.
    If you have any questions, please contact the site administrator.
</h2>

